/* Set Your Own Margin & Padding */

h1, h2, h3 {
	margin: auto;
	
}



h1 {
	color: #000;
	font-family: Felix Titling;


}
h2 {
	color: #4d4d4d;
	font-family: Felix Titling;
}

h3 {
	color: #870000;
	font-family: Felix Titling;
}

article {
	font-family: 'Raleway', sans-serif;
	border-top: solid;
	padding: 10px;
}

strong {
	font-family: raleway;

}
a {
	text-decoration: none;
}

a:link {
	color: #4d4d4d;
	
}

a:visited {
	color: #870000;
	
}

a:hover {
	color: #000;
	
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background-color: #000;
}

.color-2 {
	background-color: #4d4d4d;
}.color-3 {
	background-color: #870000;
}

.pattern-1 {
	background-image: url("http://i.imgur.com/bGi4Cp5.jpg");
}
.pattern-2 {
	background-image: url("http://i.imgur.com/Cv8zMt7.jpg");
}

.pattern-3 {
	background-image: url("http://i.imgur.com/JzX8QGX.jpg");
}




/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}